variable "credentials_file_path" {
  description = "Location of the credentials to use."
  default     = "gcp.json"
}

variable "region" {
  default = "us-central1"
}

variable "region_zone" {
  default = "us-central1-c"
}

variable "project-id" {
  default = ""
}

variable "ssh-user" {
  default = ""
}

variable "ssh-key-path" {
  default = ""
}
